**/downloads/
**/__pycache__/
**/server/
**/temp_subs/
**/temp_streams/
**/temp_streams_search/
**/dist/
**/node_modules/
**/*.tmp
**/*.log
**/emby_full_list.txt
**/*.mp4
**/*.webm
**/*.mkv
**/*.mp3
**/*.m4a